html, body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #ffe8a6;
}
.drop-placeholder {
    background-color: rgba(0,0,0,0.05);
    height: 3.5em;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.2em;
    border-radius: .25rem;
}
.navbar {
    background-color: #b4e199;
}
.navbar a {
  padding: 5px;
  color: black;
  font-size: 16px;
}
.navbar .fas:hover {
    color: white;
}
.navbar .fa-shopping-cart,
.navbar .fa-cart-plus{
    color: #007bff;
}
.navbar .fas fas .fa-shopping-cart:hover {
    color: blue;
}
.dropdown-menu {
    padding: .25rem .3rem;
}
a.dropdown-item, div.dropdown-item {
    padding: 5px;
    font-size: 14px;
}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
#notify-all-completed {
    outline: none !important;
}
.remove-button {
    border: none;
    background-color: transparent;
    outline: none;
}
.card {
    background-color: transparent;
}
.card-header {
    padding: 0.5rem;
    background-color: transparent;
    border-bottom: None;
}
.card-body {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    background-color: transparent;
}

label {
    width:100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.mybadge {
  display: inline-block;
  font-size: x-small;
  padding: 4px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px;
}

.mybadge.badge-default {
  background-color: #B0BEC5;
}

.mybadge.badge-primary {
  background-color: #007bff;
}

.mybadge.badge-secondary {
  background-color: #323a45;
}

.mybadge.badge-success {
  background-color: #13c53c;
}

.mybadge.badge-warning {
  background-color: #FFD600;
}

.mybadge.badge-info {
  background-color: #29B6F6;
}

.mybadge.badge-danger {
  background-color: #ef1c1c;
}

.mybadge.badge-outlined {
  background-color: transparent;
}

.mybadge.badge-outlined.badge-default {
  border-color: #B0BEC5;
  color: #B0BEC5;
}

.mybadge.badge-outlined.badge-primary {
  border-color: #2196F3;
  color: #2196F3;
}

.mybadge.badge-outlined.badge-secondary {
  border-color: #323a45;
  color: #323a45;
}

.mybadge.badge-outlined.badge-success {
  border-color: #29823d;
  color: #29823d;
}

.mybadge.badge-outlined.badge-warning {
  border-color: #FFD600;
  color: #FFD600;
}

.mybadge.badge-outlined.badge-info {
  border-color: #29B6F6;
  color: #29B6F6;
}

.mybadge.badge-outlined.badge-danger {
  border-color: #ef1c1c;
  color: #ef1c1c;
}
.fa-grip-lines-vertical {
    height: 0.1em;
}