{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-light">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <span><i class="fas fa-fw fa-bars"></i>Главная</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">О Программе</a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/main"><i class="fas fa-home"></i></a>
    </div>
    <div class="nav-item">
        <a href="javascript:window.location.reload(true)"><i class="fas fa-sync"></i></a>
    </div>
    <div class="nav-item">
        <a href="/order?order_id={{the_order_id}}">
            <i class="fas fa-fw fa-shopping-basket"></i>
            <span id="badgeButton">
            {% if the_order_length != 0 %} {{ the_order_length }} {% endif %}
        </span>
        </a>
    </div>
</nav>
<div class="container-fluid my-2">
    <form id="itemForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="inputItem">Товар</label>
            <input id="inputItem" name="item" type='TEXT' class="form-control" aria-describedby="itemHelp" required>
            <div class="invalid-feedback">
                Отсутствует название товара
            </div>
            <small id="itemlHelp" class="form-text text-muted">Что купить?</small>
        </div>
        <div class="form-group">
            <label for="commentItem">Комментарий</label>
            <textarea id="commentItem" name="comment" class="form-control" aria-describedby="commentHelp"
                      rows="5"></textarea>
            <small id="commentHelp" class="form-text text-muted">Какие будут комментарии?</small>
        </div>
        <input name="is_checked" value="false" type="hidden">
        <input name="order_id" value="{{the_order_id}}" type="hidden">
    </form>
    <div class="row float-left">
        <div class="col text-center my-2">
            <button id="submit-button" class="btn btn-primary btn-block my-2" type="button">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                Добавить в Корзину
            </button>
        </div>
    </div>
</div>
<script>
$('#submit-button').click(function (event) {
    if ($('#itemForm')[0].checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
        $('#itemForm').addClass('was-validated');
    } else {
        var _this = $(this);
        var formData = $('#itemForm').serialize();
        $.ajax({
            url: '/item',
            data: formData,
            method: 'POST',
            dataType: 'json',
            beforeSend: function () {
                _this.prop('disabled', true)
                _this.find('.spinner-border').removeClass('d-none');
                $('#inputItem').prop('disabled', true)
                $('#commentItem').prop('disabled', true)
            },
            success: function(data) {
                window.setTimeout(function(){
                    if (data.order_length == 0) {
                        $('#badgeButton').empty()
                    } else {
                        $('#badgeButton').text(data.order_length);
                    }
                    $('#itemForm')[0].reset();
                }, 100);
            },
            error: function(data) {
                console.log(data);
            }
        })
        .always(function(){
            window.setTimeout(function(){
                _this.prop('disabled', false)
                _this.find('.spinner-border').addClass('d-none');
                $('#inputItem').prop('disabled', false)
                $('#commentItem').prop('disabled', false)
                $('#itemForm').removeClass('was-validated');
            }, 100);
        });
    }
});




</script>
{% endblock %}