{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-light">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><i class="fas fa-fw fa-bars"></i>Главная</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">О Программе</a>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-link" onclick="copyToClipboard()"><i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="nav-item">
        <a href="javascript:window.location.reload(true)"><i class="fas fa-sync"></i></a>
    </div>
</nav>
<div class="container-fluid my-2">
    {% for order_length in the_orders_lengths %}
    {% if loop.index % 2 != 0 %}
    <div class="row">
        <div class="col text-center my-2">
            <a class="btn btn-block btn-outline-dark"{% if order_length == 0 %} href="/item?order_id={{loop.index}}"><img src="static/icons8-empty-cart-64.png"/>{% else %}
                href="/order?order_id={{loop.index}}"><img src="static/icons8-full-cart-64.png"/>{% endif %}{{loop.index}}</a>
        </div>
        {% else %}
        <div class="col text-center my-2">
            <a class="btn btn-block btn-outline-dark"{% if order_length == 0 %} href="/item?order_id={{loop.index}}"><img src="static/icons8-empty-cart-64.png"/>{% else %}
                href="/order?order_id={{loop.index}}"><img src="static/icons8-full-cart-64.png"/>{% endif %}{{loop.index}}</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}