{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-light">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <span><i class="fas fa-fw fa-bars"></i>Тележка {{the_order_id}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">О Программе</a>
        </div>
    </div>
    <div class="nav-item">
        <a href="/main"><i class="fas fa-home"></i></a>
    </div>
    <div class="nav-item">
        <a class="nav-link" onclick="copyToClipboard()"><i class="fas fa-external-link-alt"></i></a>
    </div>
    <div class="nav-item">
        <a href="javascript:window.location.reload(true)"><i class="fas fa-sync"></i></a>
    </div>
    <div class="nav-item">
        <a href="/item?order_id={{the_order_id}}"><i class="fas fa-cart-plus"></i></a>
    </div>
</nav>
<div class="container-fluid my-2">
    <div class="row justify-content-center my-3">
        <div id="notify-empty" class="text-center" {% if the_order is defined and the_order|length %} hidden="true" {%
             endif %}>
        <span class="mybadge badge-secondary badge-outlined badge-pill">
            нет товаров
        </span>
        </div>
        <div id="notify-all-completed" class="text-center" hidden="true">
        <span class="mybadge badge-success badge-outlined badge-pill">
            все выполнено
        </span>
        </div>
    </div>
    <div class="cart-container">
        {% for key, value in the_order.items() %}
        <div class="sortable-card">
            <div class="card mb-1">
                <form id="card{{ key }}" name="order-form">
                    <input type="hidden" name="order_id" value="{{the_order_id}}">
                    <input type="hidden" name="item" value="{{ key }}">
                    <input type="hidden" name="comment" value="{{ value['comment'] }}">
                    <input type="hidden" name="is_checked">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkBox{{ key }}" {% if value['is_checked']
                                    ==
                                    'true'
                                    %}
                                    checked="checked" {% endif %}>
                                    <label name="item-label" {% if value['is_checked'] == 'true' %}
                                    class="form-check-label
                                    strikethrough" {% else %}
                                    class="form-check-label" {% endif %} >{{ key }}</label>
                                </div>
                            </div>
                            <div class="col-1 dragandrop-button text-center">
                                <a role="button"><img src="static/drag-reorder-24.png"/></a>
                            </div>
                            <div class="col-1">
                                <div class="dropleft">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="static/item-menu-24.png"/>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit-button" onClick="javascript:showEditItemForm('{{ key }}')"><span><i class="fas fa-pen"></i> Редактировать</span></a>
                                        <a class="dropdown-item remove-button"><span><i class="far fa-trash-alt"></i> Удалить</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapsible-card-body" {% if value[
                    'is_checked'] == 'true' or value['comment'] == ''%} class="collapse" {% endif %}>
                    <div class="card-body">
                        <small class="form-text text-muted" id="comment{{ key }}">{{ value['comment'] }}</small>
                    </div>
                </form>
            </div>
            <form id="editItemForm{{ key }}" class="edit-item needs-validation" novalidate hidden="true">
                <div class="form-group">
                    <input id="inputItem{{ key }}" name="item" type='TEXT' class="form-control" required disabled>
                    <div class="invalid-feedback">
                        Отсутствует название товара
                    </div>
                </div>
                <div class="form-group">
                        <textarea id="commentItem{{ key }}" name="comment" class="form-control" aria-describedby="commentHelp"
                                  rows="5"></textarea>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary btn-sm save-item-changes">
                        <span id="saveItemChangesSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        Сохранить
                    </button>
                    <button type="button" class="btn btn-secondary btn-sm dismiss-item-changes" onClick="javascript:closeEditItemForm('{{ key }}')">Отмена</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row float-left">
    <div class="col text-center my-2">
        <button id="removeCompleted" class="btn btn-primary btn-block my-2" type="button" {% if the_order is defined and
                the_order|length== 0 %}
                disabled="true" {% endif %}>
                <span id="removeCompletedSpinner" class="spinner-border spinner-border-sm d-none" role="status"
                      aria-hidden="true"></span>
            Удалить Зачеркнутое
        </button>
        <button id="removeAll" class="btn btn-danger btn-block my-2" type="button" {% if the_order is
                defined and the_order|length== 0 %}
                disabled="true" {% endif %}>
                <span id="removeAllSpinner" class="spinner-border spinner-border-sm d-none" role="status"
                      aria-hidden="true"></span>
            Очистить Тележку
        </button>
    </div>
</div>
</div>
<script>
$(document).ready(function() {
    $('.dragandrop-button').on('mousedown touchstart', function() {
        $(".cart-container").sortable({
                connectWith: '.cart-container',
                placeholder: 'drop-placeholder',
                update: function(event, ui) {
                    var position = ui.item.index();
                    var form_this = ui.item.find('form:first');
                    var item = form_this.find('input[name=item]').val();
                    var order_id = form_this.find('input[name=order_id]').val()
                    $.ajax({
                        url: '/item_position',
                        method: 'POST',
                        data: {'order_id':order_id, 'item':item, 'position':position},
                        dataType: 'json',
                        success: function(data) {
                            // do nothing
                        },
                        error: function(data) {
                            alert("Error while sorting.");
                            console.log(data);
                        }
                    });
                }
            });
            $(".cart-container").sortable( "option", "disabled", false );
            $(".cart-container").disableSelection();
        }).on('mouseup touchend', function() {
            $(".cart-container").sortable("disable");
    });

    if ($('form[name="order-form"]').length > 0 && $('.form-check-input').not(':checked').length == 0) {
        $('#notify-all-completed').prop('hidden', false);
    } else {
        $('#notify-all-completed').prop('hidden', true);
    }

    var itemRemover = {
        init: function(elem) {
            elem.on('click', function(e) {
                self=$(this);
                var form_this = self.parents('form:first')
                var item = form_this.find('input[name=item]').val()
                var order_id = form_this.find('input[name=order_id]').val()
                e.preventDefault();
                if(confirm('Удалить ' + item + '?')) {
                    $.ajax({
                        url: '/item',
                        method: 'DELETE',
                        data: {'order_id':order_id, 'item':item},
                        dataType: 'json',
                        success: function(data) {
                            self.closest('div[class^="sortable-card"]').remove()
                            if($('form[name="order-form"]').length == 0){
                                $('#removeCompleted').prop('disabled', true)
	                            $('#removeAll').prop('disabled', true)
                                $('#notify-empty').prop('hidden', false)
                                $('#notify-all-completed').prop('hidden', true);
                            }
                        },
                        error: function(data) {
                            alert("Error while deleting.");
                            console.log(data);
                        }
                    });
                };
            })
        },
    }
    itemRemover.init($('.remove-button'));
    
    var itemEditor = {
        init: function(elem) {
            elem.on('click', function(e) {
                self=$(this);
                var form_this = self.parents('form:first');
                var item = form_this.find('input[name=item]').val();
                var comment = form_this.find('textarea[name=comment]').val();
                
                var card_form = $('#card' + item);
                var order_id = card_form.find('input[name=order_id]').val();
                var checkbox_card_form = card_form.find('input[id=checkBox' + item + ']');
                var is_checked = checkbox_card_form.is(":checked") == true ? true : false;

                e.preventDefault();
                $.ajax({
                    url: '/item',
                    method: 'POST',
                    data: {
                        order_id: order_id,
                        item: item,
                        comment: comment,
                        is_checked: is_checked
                    },
                    dataType: 'html',
                    beforeSend: function () {
                        self.prop('disabled', true);
                        self.find('.spinner-border').removeClass('d-none');
                        form_this.find('button[class=dismiss-item-changes]').prop('disabled', true);
                        form_this.find('textarea[class=form-control]').prop('disabled', true);
                    },
                    success: function(data) {
                        window.setTimeout(function(){
                            card_form.find('input[name=item]').val(item);
                            card_form.find('input[name=comment]').val(comment);
                            $('#comment' + item).text(comment);
                            if( checkbox_card_form.is(":checked") == true ) {
                                card_form.find('[id=collapsible-card-body]').addClass('collapse')
                            } else {
                                card_form.find('[id=collapsible-card-body]').removeClass('collapse')
                                if ( comment.length == '' ) {
                                    card_form.find('[id=collapsible-card-body]').addClass('collapse')
                                }
                            }
                        }, 100);
                    },
                    error: function(data) {
                        console.log(data);
                    }
                })
                .always(function(){
                    window.setTimeout(function(){
                        self.prop('disabled', false)
                        self.find('.spinner-border').addClass('d-none');
                        form_this.find('button[class=dismiss-item-changes]').prop('disabled', false);
                        form_this.find('textarea[class=form-control]').prop('disabled', false);
                        $('#card' + item).attr('hidden', false);
                        $('#editItemForm' + item).attr('hidden', true);
                    }, 100);
                });
            })
        },
    }
    itemEditor.init($('.save-item-changes'));
    
    $(".form-check-input").click(function(){
        if ($('.form-check-input').not(':checked').length == 0) {
            $('#notify-all-completed').prop('hidden', false);
            $('#notify-all-completed').attr('tabindex', -1).focus();
        } else {
            $('#notify-all-completed').prop('hidden', true);
        }
    });
    
    $('.form-check-input').click(function() {
    var checkbox_this = $(this);
    var form_this = $(this).parents('form:first')
    var is_checked = form_this.find('input[name=is_checked]')
    var commented = form_this.find('input[name=comment]')
   
    if( checkbox_this.is(":checked") == true ) {
        is_checked.attr('value', true);
    } else {
        is_checked.attr('value', false);
    }
    var formData = form_this.serialize();
    $.ajax({
            url: '/item',
            data: formData,
            method: 'POST',
            dataType: 'json',
            success: function(data) {
                if( checkbox_this.is(":checked") == true ) {
                    form_this.find('[name=item-label]').addClass('strikethrough')
                    form_this.find('[id=collapsible-card-body]').addClass('collapse')
                } else {
                    form_this.find('[name=item-label]').removeClass('strikethrough')
                    if ( commented.val() != '') {
                        form_this.find('[id=collapsible-card-body]').removeClass('collapse')
                    }
                }
            },
            error: function(data) {
                console.log(data);
            }
        });
    });
    
    var completedItemRemover = {
        init: function(elem) {
            elem.on('click', function(e) {
                _this=$(this);
                var divs_to_remove = []
                var items = [];
                var order_id = $('form[name="order-form"]').find('input[name=order_id]').val()
                $('div[class^="sortable-card"]').each(function() {
                    _div=$(this);
                    var checkbox = _div.find('.form-check-input');
                    if( checkbox.is(":checked") == true ) {
                        divs_to_remove.push(_div);
                        items.push(_div.find('[name=item-label]').text());
                    }
                });
                e.preventDefault();
                if(confirm('Удалить зачеркнутые пункты?')) {
                    $.ajax({
                        url: '/items',
                        method: 'DELETE',
                        data: {
                            order_id: order_id,
                            items: JSON.stringify(items)
                        },
                        dataType: 'html',
                        beforeSend: function () {
                            _this.prop('disabled', true);
                            $('#removeAll').prop('disabled', true)
                            _this.find('[id=removeCompletedSpinner]').removeClass('d-none');
                        },
                        success: function(data) {
                            window.setTimeout(function(){
                                divs_to_remove.forEach(div => div.remove());
                                if($('form[name="order-form"]').length == 0){
                                    $('#removeCompleted').prop('disabled', true)
	                                $('#removeAll').prop('disabled', true)
                                    $('#notify-empty').prop('hidden', false)
                                    $('#notify-all-completed').prop('hidden', true);
                                } else {
                                    _this.prop('disabled', false);
                                    $('#removeAll').prop('disabled', false)
                                }
                            }, 100);    
                        },
                        error: function(data) {
                            _this.prop('disabled', false);
                            $('#removeAll').prop('disabled', false)
                            alert("Error while deleting.");
                            console.log(data);
                        }
                    })
                    .always(function(){
                        window.setTimeout(function(){
                            _this.find('[id=removeCompletedSpinner]').addClass('d-none');
                        }, 100);
                    });
                };
            })
        },
    }
    completedItemRemover.init($('#removeCompleted'));
        
    var allItemRemover = {
        init: function(elem) {
            elem.on('click', function(e) {
                var _this = $(this);
                var order_id = $('form[name="order-form"]').find('input[name=order_id]').val()
                e.preventDefault();
                if(confirm('ВСЕ ТОВАРЫ будут удалены из тележки ' + order_id + '. Вы уверены?')) {
                    $.ajax({
                        url: '/order',
                        method: 'DELETE',
                        data: {
                            order_id: order_id
                        },
                        dataType: 'html',
                        beforeSend: function () {
                            _this.prop('disabled', true);
                            $('#removeCompleted').prop('disabled', true)
                            _this.find('[id=removeAllSpinner]').removeClass('d-none');
                        },
                        success: function(data) {
                            window.setTimeout(function(){
                                $('div[class^="sortable-card"]').remove()
                                _this.prop('disabled', true);
                                $('#removeCompleted').prop('disabled', true)
                                $('#notify-empty').prop('hidden', false);
                                $('#notify-all-completed').prop('hidden', true);
                            }, 100);
                        },
                        error: function(data) {
                            _this.prop('disabled', false);
                            $('#removeCompleted').prop('disabled', false)
                            alert("Error while deleting.");
                            console.log(data);
                        }
                    })
                    .always(function(){
                        window.setTimeout(function(){
                            _this.find('[id=removeAllSpinner]').addClass('d-none');
                        }, 100);
                    });
                };
            })
        },
    }
    allItemRemover.init($('#removeAll'));
});

</script>
{% endblock %}
