{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-light">
    <div class="nav-item">
        <a class="nav-link">
            <span><i class="fas fa-fw fa-bars"></i>О Релизах</span>
        </a>
    </div>
    <div class="nav-item">
        <a href="/main"><i class="fas fa-home"></i></a>
    </div>
    <div class="nav-item">
        <a href="javascript:window.location.reload(true)"><i class="fas fa-sync"></i></a>
    </div>
</nav>
<div class="container-fluid my-2">
    <div id="list">
        <p>
            <iframe src="static/release_notes.txt" frameborder="0" height="400" width="95%"></iframe>
        </p>
    </div>
</div>
{% endblock %}